<div class="post">
	<p class="breadcrumbs">
		<a href="{{data.url}}" class="subreddit">{{data.display_name}}</a>
	</p>
	<p class="time">{{#ago data.created_utc}}{{/ago}}</p>

	<p class="title"><a href="{{data.url}}">{{#title data.title}}{{/title}}</a></p>
</div>
